:host ::ng-deep .p-toolbar {
  padding: 1rem;
}

.title {
  margin-right: 1rem;
  font-size: 1.25rem;
  font-weight: 600;
}

.p-button-outlined {
  text-decoration: underline;
}

.p-toolbar-group-start,
.p-toolbar-group-end {
  display: flex;
  align-items: center;
}

.user-name {
  margin-right: 1rem;
}
