:host {
  display: flex;
  flex-direction: row;
  display: flex;
  flex: 1;
  height: 100%;
  width: 100%;
}

.layout-main {
  width: 100%;
}

.layout-sidebar {
  width: 300px;
  min-width: 300px;
  background-color: var(--surface-section);
  border-right: 1px solid var(--p-content-border-color);
  padding: 1rem 2rem;

  @media screen and (min-width: 1200px) {
    width: 35% !important;
  }
}
